<div class="loading-container">
  <div class="loading">
    <small class="loading-text">Loading</small>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 10" class="loading-icon">
      <circle fill="#32335F" stroke="#32335F" r="4" cx="5" cy="5">
        <animate attributeName="opacity" calcMode="spline" dur="2" values="1;0;1;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.4"></animate>
      </circle>
      <circle fill="#32335F" stroke="#32335F" r="4" cx="25" cy="5">
        <animate attributeName="opacity" calcMode="spline" dur="2" values="1;0;1;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.2"></animate>
      </circle>
      <circle fill="#32335F" stroke="#32335F" r="4" cx="45" cy="5">
        <animate attributeName="opacity" calcMode="spline" dur="2" values="1;0;1;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="0"></animate>
      </circle>
    </svg>
  </div>
</div>
