* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 560px;
  margin: auto;
  padding: 1rem;
  background-color: #ccc;
  min-height: 100vh;
  min-width: 350px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #4e4e4e;
}

.form {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  justify-content: space-between;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form-footer {
  display: flex;
  margin-top: auto;
  gap: 1rem;
  justify-content: space-evenly;
}
